<!-- 这个页面是 VUE 项目入口文件，在 webpack 构建时，会自动生成 -->
<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or 'Default Title' }}</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
